<div class="modal-header">
    <h3 class="modal-title">Agregar integrante a la comisión electoral</h3>
</div>
<div class="modal-body">
    
        <div class="row form-group">
            <div class="col-xs-6">
                <input placeholder="Cargo" type="text" class="form-control" 
               ng-model="item.cargo" 
               >
             </div>  
              <div class="col-xs-6">
                <input placeholder="Representante" type="text" class="form-control" 
               ng-model="item.miembro" 
               >
             </div> 
        </div>

</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-primary" ng-click="okElectoral(item)">OK</button>
</div>