  <script type="text/ng-template" id="modalNuevoMiembro.html">
  <div ng-include="'tpl/modalNuevoMiembro.html'"></div>
</script>
  <style>
     
        .app {  background-color: #f6f6f6;}
    </style>
    <div class="bloque">
    <div class="container entrada col-md-18 w-xxl w-auto-xs" ng-controller="SignupFormController" ng-init="app.settings.container = false;">
    <img src="img/logofB.png">
      <a href class="navbar-brand block m-t"> </a>
      <div class="m-b-lg ">
        <div class="wrapper inicio text-center">
    </div>
    <div class="inicio2 text-center">Crear cuenta  </div>

        <form name="form" class="form-validation ">
          <div class="form-group ">
          <!-- <label class="col-sm-2 control-label">Tipo de cuenta ?</label> -->
          <div class="col-sm-10">
          <div class="checkbox">
             <label class="i-checks i-checks-lg">
                <input type="radio" name="a"  ng-click="a()">
                <i></i>
                Odontologo
              </label>
          </div>
             <!--  <div class="checkbox" >
             <label class="i-checks i-checks-lg">
                <input type="radio" name="a"  ng-click="b()">
                <i></i>
                Asistente
              </label>

          </div>
           <div class="checkbox">
             <label class="i-checks i-checks-lg">
                <input type="radio" name="a"  ng-click="c()">
                <i></i>
                Clinica o consultorio
              </label>
              
          </div>
           <div class="checkbox">
             <label class="i-checks i-checks-lg">
                <input type="radio" name="a"  ng-click="d()">
                <i></i>
                Laboratorio
              </label>
              
          </div>
           <div class="checkbox">
             <label class="i-checks i-checks-lg">
                <input type="radio" name="a"  ng-click="e()">
                <i></i>
                Dentales
              </label>
              
          </div> -->
      
          </div>
        </div>

          <div class="line line-dashed"></div>
          <p class="text-center"><small>Ya tienes una cuenta?</small></p>
          <a ui-sref="access.signin" class="btn btn-lg btn-default btn-block">Iniciar sessión</a>
        </form>
      </div>
      <div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div>
    </div></div>