<!DOCTYPE html >
<html lang="en-US" ng-app="paginaPrincipal">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>.:: COTáchira ::.</title>
<style>
.google-maps {
position: relative;
padding-bottom: 75%; 
height: 0;
overflow: hidden;
}
.google-maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}
</style>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
 <script src="js/app.js"></script>
   <script src="js/controllers.js"></script>  



<link rel="icon" href="img/favicon.png" type="image/png">
<link href="css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/buttons.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/icomoon.css" media="screen" rel="stylesheet" type="text/css">
<link href="demo/style.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/parallax-slider.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/prettyPhoto.css" media="screen" rel="stylesheet" type="text/css">
<link id="header-switch" href="css/headers/light.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/animate.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/theme-styles.css" media="screen" rel="stylesheet" type="text/css">
<link id="style-switch" href="css/color-schemes/default.css" media="screen" rel="stylesheet" type="text/css">
  <head>
 
</head>
<body data-offset="85" data-spy="scroll" data-target=".navbar" ng-controller="unicoCtrl">

<div id="pageloader">
	<div class="loader-img">
		<img alt="loader" src="img/loader.gif"/>
	</div>
</div>



<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
	
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
		<i class="fa fa-bars fa-fw"></i>
		</button>
		<a class="navbar-brand weight-900" href="#home"><img alt="" id="logo" src="img/logo.png"></a>
	</div>

	<div class="collapse navbar-collapse" id="main-menu">
		<ul class="nav navbar-nav navbar-right">
			
			<li><a class="scrollto" href="#about">Que es el COT?</a></li>
		
			<li><a href="#noticias" class="scrollto">Noticias</a></li>
			<li><a href="#services" class="scrollto">Servicios</a></li>
			<li><a href="#miembros" class="scrollto">Miembros</a></li>
		
			<li><a class="scrollto" href="#contact">Contacto</a></li>
			<li>
			<div class="social-icons">
				<a href="https://www.facebook.com/odontotachira.odontotachira"><i class="im-facebook"></i></a><a href="https://www.instagram.com/Colegiodontotachira/"><i class="im-instagram"></i></a>
			</div>
			</li>
		</ul>
	</div>

</div>
<!-- /.container-fluid -->
</nav>

<section id="home">

<div id="slides">
	<div class="slides-container">
		<div class="parallax" style="background-image:url(img/pictures/patient.jpg)" data-stellar-background-ratio="0.2">
			<div class="img-overlay-solid" style="background-color:rgba(0,0,0,0.3);">
			</div>
			<div class="caption container">
			<h2 class="weight-700 color-white">En manos de quien está tu salud bucal?</h2>
			<h4 class="weight-400 color-white">Consulta nuestra base de datos de odontólogos colegiados</h4>
			<br/>
			<a class="btn btn-white btn-outline scrollto" href="#contact">Consultar</a>
			</div>
		</div>
		<div class="parallax" style="background-image:url(img/pictures/office.jpg)" data-stellar-background-ratio="0.2">
			<div class="img-overlay-solid" style="background-color:rgba(0,0,0,0.3);">
			</div>
			<div class="caption container">
			<h2 class="weight-700 color-white">Clínicas y consultorios...</h2>
			<h4 class="weight-400 color-white">Le invitamos a consultar nuestro directorio de clínicas y consultorios certificados por el Colegio de Odontologos del Tachira.</h4>
			<br/><a class="btn btn-primary scrollto" href="#about">Consultar</a>

			</div>
			
		</div>
	</div>
	<nav class="slides-navigation">
	<a href="#" class="next"><i class="fa-angle-right"></i></a>
	<a href="#" class="prev"><i class="fa-angle-left"></i></a>
	</nav>
</div>


</section>

<section id="about">
<div class="fullwidth-section half-padding" style="background-color: #F7F7F7;">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-md-offset-1">
				<img alt="" src="img/team/dentist.jpg" class="img-responsive img-center rounded">
			</div>
			<div class="col-md-7 col-md-offset-1">
				<h2 class="color-primary">
				Colegio de Odontólogos del Táchira</h2>
				<h4 class="">Misión</h4>
				<h5 class="weight-400">{{texto}}</h5>
				<h4 class="">Visión</h4>
				<h5 class="weight-400">{{texto2}}</h5>
				<div ng-if="directiva">
					<h4 class="" >Junta directiva</h4>
					<ul>
					    <li  ng-repeat="miembro in directiva">
					      {{miembro.cargo}}: {{miembro.miembro}} 
					    </li>
					  </ul>
				</div>
				<div ng-if="comite">
					<h4 class="">Tribunal disciplinario</h4>
					<ul>
					    <li  ng-repeat="miembro in comite">
					      {{miembro.cargo}}: {{miembro.miembro}} 
					    </li>
 					 </ul>
				</div>

				<div ng-if="electoral">
					<h4 class="" ng-if="electoral">Comisión electoral</h4>
					<ul>
					    <li  ng-repeat="miembro in electoral">
					      {{miembro.cargo}}: {{miembro.miembro}} 
					    </li>
 					 </ul>
				</div>

				<div ng-if="deporte">
					<h4 class="" ng-if="deporte">Delegados de deporte</h4>
					<ul>
					    <li  ng-repeat="miembro in deporte">
					      {{miembro.miembro}} 
					    </li>
 					 </ul>
				</div>


			</div>
		</div>
	</div>
</div>
</section>

<section id="services">
<div class="fullwidth-section" style="background-color: #F5F5F5">
	<div class="container">
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-6">
				<h1 class=" kill-top-margin uppercase">Servicios</h1>
				<h4 class="weight-400">listado de beneficios!</h4>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-12">
				<div id="accordion" class="panel-group">
					<div class="panel panel-default">
						<a data-parent="#accordion" data-toggle="collapse" href="#one">
						<div class="panel-heading">
							<h5 class="panel-title"><i class="icon-justicia"></i>Asesoria Jurídica</h5>
						</div>
						</a>
						<div id="one" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Se les proporcionara asesoría legal a todos los agremiados con temas relacionados a la profesión en el área Penal ejemplo Demandas y de otros ámbitos como laborales o Arrendamiento.<a href="#">Enlace a mas informacion</a>
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<a class="selected" data-parent="#accordion" data-toggle="collapse" href="#two">
						<div class="panel-heading">
							<h5 class="panel-title"><i class="fa-calendar"></i>
							Calendario de actividades y eventos</h5>
						</div>
						</a>
						<div id="two" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>
									Cronograma de cursos, conferencias, Jornadas, Congresos, Dia del Odontólogo, Dia de la asistente Dental, Cena de Navidad, Aniversario del colegio, Eventos Deportivos, Culturales, Cumpleaños y demás fechas de interés para nuestros agremiados.
								</p>
								<a href="webapp/#/calendario">Consultar calendario </a>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<a data-parent="#accordion" data-toggle="collapse" href="#three">
						<div class="panel-heading">
							<h5 class="panel-title"><i class="icon-empleo"></i>
							Ofertas de Empleo</h5>
						</div>
						</a>
						<div id="three" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									Publica a través de nuestro portal tus necesidades en cuanto a vacantes u ofertas, así como también si buscas o necesitas empleo.
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<a data-parent="#accordion" data-toggle="collapse" href="#four">
						<div class="panel-heading">
							<h5 class="panel-title"><i class="icon-libro"></i>
							Biblioteca Virtual</h5>
						</div>
						</a>
						<div id="four" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									Descarga de manera rápida y cómoda literatura de interés a tu alcance.
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<a data-parent="#accordion" data-toggle="collapse" href="#five">
						<div class="panel-heading">
							<h5 class="panel-title"><i class="icon-revista"></i>
							Revistas Online</h5>
						</div>
						</a>
						<div id="five" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									El COT pondrá a disposición suscripción a revistas pagas de interés en las diferentes especialidades para que puedas acceder sin generar gastos adicionales.
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<a data-parent="#accordion" data-toggle="collapse" href="#six">
						<div class="panel-heading">
							<h5 class="panel-title"><i class="fa-smile-o"></i>
							Seguro Médico</h5>
						</div>
						</a>
						<div id="six" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									A través del colegio se ofertará el beneficio de una póliza de seguro Médico para los agremiados HCM Hospitalización Cirugía y Maternidad.
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<a data-parent="#accordion" data-toggle="collapse" href="#seven">
						<div class="panel-heading">
							<h5 class="panel-title"><i class="icon-radio"></i>
							Manejo de Desechos Biológicos</h5>
						</div>
						</a>
						<div id="seven" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									Alianzas para el manejo, recolección, transporte e incineración de los desechos biológicos en conjunto con MPPPS (Actualmente en construcción).
								</p>
							</div>
						</div>
					</div>	
					<div class="panel panel-default">
						<a data-parent="#accordion" data-toggle="collapse" href="#eight">
						<div class="panel-heading">
							<h5 class="panel-title"><i class="icon-interes"></i>
							Enlaces de Interés</h5>
						</div>
						</a>
						<div id="eight" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									Sitios pertinentes al gremio como Leyes y reglamentos del COT Instituciones Gubernamentales, COV, Otros colegios Estadales, Colgate, Video e información para tus pacientes. etc.
								</p>
							</div>
						</div>
					</div>	
				</div>
			</div>
		
		</div>
	
	</div>
</div>

<div class="fullwidth-section" >
	<div class="parallax" style="background-image: url('img/pictures/office.jpg')" data-stellar-background-ratio="0.2">
	</div>
	<div class="img-overlay-solid" style="background-color:#c473bf;">
	</div>
	<div class="container">
	<center>
		<div class="row color-white counter-section">
			<div class="col-md-3 text-center">
				<i class="fa-user-md color-white"></i>
				<div class="counter" data-end-count="{{totalOdontologos}}" data-speed="2500">
					0
				</div>
				<h4 class="color-white uppercase weight-600"> Odontólogos</h4>
			</div>
			<div class="col-md-3 text-center">
				<i class="fa-users color-white"></i>
				<div class="counter" data-end-count="0" data-speed="2500">
					0
				</div>
				<h4 class="color-white uppercase weight-600">Asistentes</h4>
			</div>
			<div class="col-md-3 text-center">
				<i class="fa-hospital-o color-white"></i>
				<div class="counter" data-end-count="0" data-speed="2500">
					0
				</div>
				<h4 class="color-white uppercase weight-600">Clinicas / Consultorios</h4>
			</div>
			
		</div>
		</center>
	</div>
</div>

</section>
<section id="miembros">
	<div class="fullwidth-section bg-dark half-padding">
	<div class="container">
		<div class="col-md-12 text-center">
			<h2 class="color-white weight-300 kill-top-margin">Eres profesional afín?</h2>
			
			<a class="btn btn-primary btn-outline scrollto ae" data-animation="bounceIn" href="webapp/#/access/signup">forma parte de nosotros <i class="im-redo2"></i></a>
			<h2></h2>
			<h2 class="color-white weight-300 kill-top-margin">Ya eres miembro?</h2>
			
			<a class="btn btn-primary scrollto" data-animation="bounceIn" href="webapp/#/access/signin">Inicia sessión <i class="im-redo2"></i></a>
			<br/>
			<p></p>
		</div>
	</div>
</div>

</section>

<section id="contact">

<div class="fullwidth-section half-padding">
	<div class="container">
		<div class="row" style="margin-bottom: 20px">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h1 class=" kill-top-margin uppercase">Consiguenos en el mapa
					<a class="btn btn-primary scrollto" href="ubicacion.html"><i class="im-location"></i></a>
				</h1>
				<h4 class="weight-400">Llámanos, envíanos un email o simplemente acercate a nuestra sede, siempre estaremos para atenderte!</h4>
			</div>
		</div>
	</div>
<!-- 	<div class="map-wrapper">
		<div class="google-maps">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.08614875581!2d-72.21475268593555!3d7.78069030943149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zN8KwNDYnNTAuNSJOIDcywrAxMic0NS4yIlc!5e0!3m2!1ses-419!2sve!4v1493499249180" width="1280" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div> -->
	<div class="container">
		<div class="row" style="margin-top: 40px;">
			<div class="col-md-3">
				<div class="icon-feature-horizontal-sm">
					<div class="icon">
						<i class="im-compass color-primary ae"></i>
					</div>
					<div class="content">
						<h4 class="uppercase weight-700">Visita nuestra sede</h4>
						<p>
							<strong class="color-primary">COT</strong><br/>
							Av. España  <br/>
							Centro Comercial los Naranjos, Local 15<br/> 
							San Cristóbal, Estado Táchira<br/>
							
						</p>
					</div>
				</div>
				<div class="icon-feature-horizontal-sm">
					<div class="icon">
						<i class="im-mail2 color-primary ae"></i>
					</div>
					<div class="content">
						<h4 class="uppercase weight-700">Contáctanos</h4>
						<p>
							<a href="mailto:support@creativelycoded.com">odontotachira@gmail.com</a><br/>
							Fijo: 276-356-3976<br/>
							Móvil: 0414-759-5557
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="icon-feature-horizontal-sm">
					<div class="icon">
						<i class="im-clock color-primary ae"></i>
					</div>
					<div class="content">
						<h4 class="uppercase weight-700">Horario de atención</h4>
						<p>
							<strong>{{diasAtencion}}:</strong>
							<br/>{{horario}}<br/>
							
					
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h4 class="uppercase weight-700">Envianos un mensaje</h4>
				<form action="contact-form.php" method="post" role="form">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Dinos tu nombre</label>
								<input class="form-control" name="name" id="name" placeholder="" type="text"/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Cúal es tu dirección de email?</label>
								<input class="form-control" name="email" id="email" placeholder="" type="email"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Danos los detalles</label>
								<textarea class="form-control" name="message" id="message" placeholder="" rows="4"></textarea>
							</div>
							<div class="text-center">
								<br/>
								<button class="btn btn-primary btn-round" type="submit">Enviar mensaje </button><br>
								<div id="error">
									Por favor indique los campos requeridos
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

</section>

<div class="footer">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-6 text-center">
				 
			</div>
			<br/>
			<p></p>
			<div class="col-md-6 text-center">
				<div class="social-icons">
					
					<a href="https://www.facebook.com/odontotachira.odontotachira"><i class="im-facebook"></i>odontotachira.odontotachira</a>
					
					
				</div>
			</div>
			<div class="col-md-6 text-center">
				<div class="social-icons">
					
					
					
					<a href="https://www.instagram.com/Colegiodontotachira/"><i class="im-instagram"></i> @colegiodontotachira</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="scrollup">
	<a class="scrolltotop" href="#"><i class="fa fa-angle-double-up"></i></a>
</div>

<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/stellar.js"></script>
<script type="text/javascript" src="js/counter.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/jquery.superslides.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/animation-engine.js"></script>
<script type="text/javascript" src="js/validation.js"></script>
<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
<!-- <script type="text/javascript" src="js/google.map-settings.js"></script> -->
<script type="text/javascript" src="js/style-switcher.js"></script>
<script type="text/javascript" src="js/theme-scripts.js"></script>

</body>
</html>