  <script type="text/ng-template" id="modalNuevaActividad.html">
  <div ng-include="'tpl/modalNuevaActividad.html'"></div>
</script>
<script type="text/ng-template" id="modalEditarActividad.html">
  <div ng-include="'tpl/modalEditarActividad.html'"></div>
</script>
<div ng-controller="FullcalendarCtrl">

  <div class="wrapper-md bg-light b-b">
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
       <button type="button" class="btn btn-default btn-addon pull-right m-t-n-xs" ui-toggle-class="show" target="#aside">
      <i class="fa fa-bars"></i> Listado
    </button>
    <button type="button" tooltip="Agregar Actividad" class="btn btn-sm btn-primary btn-addon pull-right" ng-click="addEvent()">
          <i class="fa fa-plus"></i>Agregar
        </button>
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="today()">Hoy</button>
         <div class="btn-group m-l-xs pull-right">
            <button class="btn btn-sm btn-default " ng-click="changeView('agendaDay')">Dia</button>
            <button class="btn btn-sm btn-default" ng-click="changeView('agendaWeek')">Semana</button>
            <button class="btn btn-sm btn-default" ng-click="changeView('month')">Mes</button>
          </div>
   
    <h1 class="m-n font-thin h3">Calendario de actividades</h1>
       
  </div> 
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col wrapper-md">
      <div class="clearfix m-b">
       
      </div>
      <div class="pos-rlt">
        <div class="fc-overlay">
          <div class="panel bg-white b-a pos-rlt">
            <span class="arrow"></span>
            <div class="h4 font-thin m-b-sm">{{event.title}}</div>
            <div class="line b-b b-light"></div>
            <div> {{event.descripcion}}</div>
            <div><i class="icon-calendar text-muted m-r-xs"></i> {{event.formateada}}</div>
         <!--    <div class="ng-hide" ng-show='event.end'><i class="icon-clock text-muted m-r-xs"></i> {{event.end | date:'dd/MM/yyyy'}}</div> -->
            <div class="ng-hide" ng-show='event.location'><i class="icon-pointer text-muted m-r-xs"></i> {{event.location}}</div>
            <div class="m-t-sm">{{event.info}}</div>
            <div class="m-t-sm">{{event.url}}</div>
          </div>
        </div>
        <div class="calendar" ng-model="eventSources" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
      </div>
    </div>
    <div class="col w-md w-auto-xs bg-light dk bg-auto b-l hide" id="aside">
      <div class="wrapper">
        <div ng-repeat="e in events"  class="bg-white-only r r-2x m-b-xs wrapper-sm {{e.className[0]}}">          
          <input ng-model="e.title" class="form-control m-t-n-xs no-border no-padder no-bg">
          <input ng-model="e.descripcion" class="col-sm-3 form-control m-t-n-xs no-border no-padder no-bg">
        
  
          <a class="pull-right text-xs text-muted"ng-click="remove(e,$index)"><i class="fa fa-trash-o"></i></a>
          <a class="pull-right text-xs text-muted"  style="padding-right:3px"  ng-click="editEvent(e)"><i class="fa fa-edit"></i></a>
          <div class="text-xs text-muted">{{e.start | date:"MMM dd"}} <!-- - {{e.end | date:"MMM dd"}} --></div>
        </div>
      </div>
    </div>
  </div>
</div>