
  <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        .app { background-color: #f0f3f4; }
    </style> <!--hbox layout -->
           <script type="text/ng-template" id="modalConfirm.html">
            <div ng-include="'tpl/modalConfirm.html'"></div>
          </script>
              <script type="text/ng-template" id="modalConfirmBorrarProfesional.html">
            <div ng-include="'tpl/modalConfirmBorrarProfesional.html'"></div>
          </script>
          <script type="text/ng-template" id="modalConfirm2.html">
            <div ng-include="'tpl/modalConfirm2.html'"></div>
          </script>
           <div class="">
   </div>
  <div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.container = false;
  app.settings.asideFolded = true;
  app.hideAside = false;
  app.hideFooter = true;
  app.settings.asideFolded = true;" 
  ng-controller="ProfesionalesCtrl">

  <!-- column -->
  <div class="col w b-r">
    <div class="vbox">
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner" ui-refresh="especialidades">
            <div class="list-group no-radius no-border no-bg m-b-none" ui-refresh="especialidades">




              <a class="list-group-item b-b" ng-dblclick="selectEspecialidad({nombre:''})" ng-class="{'focus': (filter == '')}" ng-click="carga()">Especialidad<span  tooltip-placement="bottom"  tooltip="Doble click para actualizar" class="pull-right text-muted inline wrapper-xs m-r-sm"><i class="fa fa-question"></i></span></a>
              <a ng-repeat="item in especialidades | orderBy:'nombre'" ng-dblclick="editItem(item)" class="list-group-item m-l hover-anchor b-a " ng-class="{'focus m-l-none': item.selected}" ng-click="selectEspecialidad(item)" ui-refresh="especialidades">   
                <span  ng-click="openConfirm2(item)" tooltip-placement="left" tooltip="Borrar" class="pull-right text-muted hover-action">
                  <i class="fa fa-times"></i>
                </span>
                <span class="block text-ellipsis m-l-n text-md" ng-class="{'m-l-none': item.selected }" popover="{{item.nombre}}" popover-trigger="mouseenter" popover-placement="bottom">               
                <span class="block" ng-class="{'m-n': item.selected }">{{ item.nombre ? item.nombre : 'Por definir' }}</span>
                <input type="text" class="form-control pos-abt" ng-show="item.editing" ng-blur="doneEditingEspecialidad(item)" ng-model="item.nombre" style="top:3px;left:2px;width:98%" ui-focus="item.editing">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t">
        <a tooltip="Agregar especialidad" href class="btn btn-xs btn-default btn-addon" ng-click="createEspecialidad()"><i class="fa fa-plus fa-fw m-r-xs"></i> Especialidad</a>
      </div>
    </div>
  </div>
  <!-- /column -->
  <!-- column -->
  <div class="col w-lg2 lter b-r">
    <div class="vbox">
      <div class="wrapper-xs b-b">
        <div class="input-group m-b-xxs">
          <span class="input-group-addon input-sm no-border no-bg"><i class="icon-magnifier text-md m-t-xxs"></i></span>
          <input type="text" class="form-control input-sm no-border no-bg text-md" placeholder="{{especialidad.nombre ? especialidad.nombre : 'Todos'}}" ng-model="query">  
        </div>
      </div>
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="m-t-n-xxs">
              <div class="list-group list-group-lg no-radius no-border no-bg m-b-none">
                <a ng-repeat="item in items | filter:{especialidad:filter} | filter:query | orderBy:'primerNombre'" class="list-group-item m-l" ng-class="{'select m-l-none': item.selected }" ng-click="selectItem(item)">
                  <span class="block text-ellipsis m-l-n text-md" ng-class="{'m-l-none': item.selected }" popover="{{item.cedula}}" popover-trigger="mouseenter" popover-placement="bottom">
                    {{ item.primerNombre }} <strong>{{ item.primerApellido }}</strong>
                    <span ng-hide="item.primerNombre || item.primerApellido">sin nombre</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="(items | filter:{especialidad:filter} | filter:query).length">Vacío</div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t text-center" >
       <!--  <a tooltip="Agregar Profesional" href class="btn btn-xs btn-default btn-addon" ng-click="createItem()" ng-show="items"><i class="fa fa-plus fa-fw m-r-xs"></i> Profesional</a> -->
      </div>
    </div>
  </div>
  <!-- /column -->

  <!-- column -->
  <div class="col bg-white-only">
    <div class="vbox">
      <div class="wrapper-sm b-b">
       <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a  class="btn btn-xs btn-default pull-right" ng-hide="!item" ng-click="openConfirmBorrarProfesional(item)"><i tooltip="Borrar profesional" tooltip-placement="left" class="fa fa-times"></i></a>
          <a class="btn btn-xs btn-primary" ng-hide="item.editing || !item" ng-click="editItem(item)">Editar</a>
          <a class="btn btn-xs btn-success" ng-show="item.editing" ng-click="doneEditingProfesional(item)">Guardar cambios</a>
        </div>
      </div>
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-md">
              <div class="hbox h-auto m-b-lg">
                <div class="col text-center w-sm"  ng-show="item.primerNombre && !item.editing">
                
                  <div class="thumb-lg avatar inline">
                  <img src="img/avatar.png" ng-hide="item.editing || !item.primerNombre">
                  </div>
                </div>
<!-- ƈomienzo de acordion -->
              <div class="col-lg-18" ng-show="item.primerNombre && !item.editing" ng-hide="item.editing || !item.primerNombre">
             
                <strong> Nombres y apellidos: </strong>
                <span class="text-center">{{item.primerNombre}}</span>
                <span class="text-center">{{item.segundoNombre}}</span>
                <span class="text-center">{{item.primerApellido}}</span>
                <span class="text-center">{{item.segundoApellido}}</span>
                <p></p>
                <strong> Identificacion: </strong>
                       {{item.nacionalidad}}- <span class="form-control-static" >{{item.cedula}}.</span>

                <strong> Estado Civil: </strong><span class="form-control-static" > {{item.estadoCivil}}.</span>


                        <p></p>
                <strong> COV: </strong>
                <span class="form-control-static" >{{item.cov}} .</span>
              
                <strong> MSAS: </strong>
                <span class="form-control-static" >{{item.msas}} .</span>
                
                <strong> COT: </strong>
                <span class="form-control-static" >{{item.cot}} .</span>
                <p></p>




                <strong> Fecha de Nacimiento: </strong>
                <span class="form-control-static" >{{item.fechaNacimiento | date:YYYY}} .</span>
                <p></p>
                  <strong> Especialidad: </strong>
                        <span class="form-control-static" >{{item.especialidad}}</span>

            <p></p>
         
                </div>
                <div class="colEditada v-middle font-thin">                     
                  <div ng-show="item.editing" class="h1">
                  <div class="col-sm-6" ng-show="item.editing">
                    <input type="text" placeholder="Primer nombre" class="form-control w-auto font-bold" ng-model="item.primerNombre" >
                    </div>
                      <div class="col-sm-6" ng-show="item.editing"> 
                    <input type="text" placeholder="Segundo nombre" class="form-control w-auto  font-bold" ng-model="item.segundoNombre" >
                    </div>
                    <div class="col-sm-6" ng-show="item.editing">
                    <input type="text" placeholder="Primer Apellido" class="form-control w-auto  font-bold" ng-model="item.primerApellido" >
                    </div>
                  
                    <div class="col-sm-6" ng-show="item.editing">
                    <input type="text" placeholder="Segundo Apellido" class="form-control w-auto font-bold" ng-model="item.segundoApellido" >
                    </div> 
                </div>


                  <div class="row col-sm-12">
                    <div class="col-sm-3" ng-show="item.editing">
              <p>Nacionalidad:</p>
                    <ui-select ng-model="item.nacionalidad" theme="bootstrap" ng-show="item.editing">
                      <ui-select-match placeholder="V/E">{{$select.selected}}</ui-select-match>
                      <ui-select-choices group-by="'name'" repeat="item in nacionalidades | filter: $select.search">
                        <span ng-bind-html="item | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>  
                   <div class="col-sm-3" ng-show="item.editing">
                   <p>Identificación:</p>
                  <input type="number" placeholder="Cédula" class="form-control w-auto" ng-model="item.cedula" min="1" ng-show="item.editing" >
                   </div>
        </div>




                  <div class="row col-sm-12">
               
                    <div class="col-sm-4" ng-show="item.editing">
                    <p>Estado Civil</p>
                    <ui-select ng-model="item.estadoCivil" theme="bootstrap" ng-show="item.editing">
                      <ui-select-match placeholder="Estado civil">{{$select.selected}}</ui-select-match>
                      <ui-select-choices group-by="'name'" repeat="item in estados | filter: $select.search">
                        <span ng-bind-html="item | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>  
        </div>
                         
            <p></p><p></p>
                </div>
                <div class="col  b-light row text-center no-gutter w-sm">
                  <div class="row">
                    <a href class="btn btn-rounded btn-lg btn-icon btn-info " ng-show="item.selected && !item.editing"
                     > 
                      <i class="icon icon-book-open  block m-b-xs fa-1x"></i>
                    </a>
                  </div> 
                </div>
              </div>
              <div  class="m-b-md" ng-hide="!item" ui-refresh="alerts">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
   
      </div>
    
      <div ng-controller="AccordionDemoCtrl" ng-show="item.primerNombre" >
        <accordion close-others="oneAtATime">
          <accordion-group heading="Datos de contacto"   is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
            <p>
            <div ng-show="!item.editing">
              <div class="col-sm-6"> 
                <b>Teléfono personal:</b> {{item.telefonoCelular}}
              </div>
              <div class="col-sm-6">
              <b>Email:</b>
                {{item.email}}
              </div>
               <div class="col-sm-6">
              <b>Instagram:</b>
                {{item.cuentaI}}
              </div>
               <div class="col-sm-6">
              <b>Facebook:</b>
                {{item.cuentaF}}
              </div>
              <div class="col-sm-10">
                <b>Dirección de habitación:</b> 
                {{item.direccion}}
              </div>  

            </div>
            <div ng-show="item.editing" class="col-sm-6">
              Teléfono Personal
              <input type="text" class="form-control input-sm"   placeholder="Teléfono" ng-model="item.telefonoCelular" style="" >
            </div>
            <div ng-show="item.editing" class="col-sm-6">
              Email
              <input type="text" class="form-control input-sm"   placeholder="Email" ng-model="item.email" style="" >
            </div>
            <div ng-show="item.editing" class="col-sm-6">
              Instagram
              <input type="text" class="form-control input-sm"   placeholder="Instagram" ng-model="item.cuentaI" style="" >
            </div>
             <div ng-show="item.editing" class="col-sm-6">
              Facebook
              <input type="text" class="form-control input-sm"   placeholder="Facebook" ng-model="item.cuentaF" style="" >
            </div>
            <div ng-show="item.editing" class="col-sm-12">
              Dirección de habitación:
              <textarea rows="2" class="form-control input-sm"   placeholder="Direccion de habitación" ng-model="item.direccion" style="" > </textarea>
            </div>
            
            </p>
          </accordion-group>
         
         <accordion-group heading="Datos profesionales"  is-disabled="status.isFirstDisabled">
            <p>
            <div ng-show="!item.editing">
            <div class="col-sm-2"> 
                <b>Universidad:</b>
              </div>
              <div class="col-sm-9"> 
               <strong> Universidad de egreso: </strong>
                <span class="form-control-static" >{{item.universidadEgreso}} .</span>
                
                <strong> Año de egreso: </strong>
                <span class="form-control-static" >{{item.anoDeEgreso}} .</span>
               
              </div>
       <div class="col-sm-2"> 
                <b>Especialidad:</b>
              </div>
            
            <div class="col-sm-9" ng-hide="{{item.especialidad=='ODONTOLOGÍA GENERAL'}}"> 
               {{item.especialidad}}
                 
              </div>

              <div class="col-sm-12">  
              <strong> Universidad de egreso: </strong>
                              <span class="form-control-static" >{{item.universidadEgresoEspecialidad}} .</span>
                <b>Año de egreso:</b> {{item.anoDeEgresoEspecialidad}}
              </div>
              
              <div class="col-sm-10">
              </br>
                <b>Dirección de trabajo:</b> 
                {{item.direccionTrabajo}}
              </div>
               <div class="col-sm-6"> 
                <b>Teléfono trabajo:</b> {{item.telefonoTrabajo}}
              </div>
              <div class="col-sm-10">
                <b>Municipio:</b> 
                {{item.municipio}}
              </div>
               <div class="row">
              
            </div> 
            </div>
          
          

           <div ng-show="item.editing" class="col-sm-6">
              Año de egreso
              <input type="text" class="form-control input-sm"   placeholder="Año de egreso" ng-model="item.AnoDeEgreso" style="" >
            </div>
            <div ng-show="item.editing" class="col-sm-6">
              COV
              <input type="text" class="form-control input-sm"   placeholder="COV" ng-model="item.cov" style="" >
            </div>
            <div ng-show="item.editing" class="col-sm-6">
              MSAS
              <input type="text" class="form-control input-sm"   placeholder="MSAS" ng-model="item.msas" style="" >
            </div>
             <div ng-show="item.editing" class="col-sm-6">
              Teléfono de trabajo
              <input type="text" class="form-control input-sm"   placeholder="Teléfono de trabajo" ng-model="item.telefonoTrabajo" style="" >
            </div>
            <div class="row">

                 <div class="form-group col-md-12" ng-hide="!item.especialidad && !item.editing">
                  <div class="col-sm-12" ng-show="item.editing">
                    <i class="icon-drawer "></i> Especialidad
                    <ui-select ng-model="item.especialidad" theme="bootstrap" ng-show="item.editing">
                      <ui-select-match placeholder="Seleccione...">{{$select.selected.nombre}}</ui-select-match>
                      <ui-select-choices group-by="'nombre'" repeat="item.nombre as item in especialidades | filter: $select.search">
                        <span ng-bind-html="item.nombre | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
              </div>
              </div>
              <div ng-show="item.editing" class="col-md-12">
            Universidad de egreso especialidad:
            <input type="text" class="form-control input-sm"   placeholder="Universidad de egreso especialidad" ng-model="item.universidadEgresoEspecialidad" style="" >
            </div>
            <div ng-show="item.editing" class="col-md-12">
              Año de egreso especialidad
              <input type="text" class="form-control input-sm"   placeholder="Año de egreso especialidad" ng-model="item.AnoDeEgresoEspecialidad" style="" >
            </div>
  

            <div ng-show="item.editing" class="col-sm-12">
              Dirección de trabajo:
              <textarea rows="2" class="form-control input-sm"   placeholder="Direccion de trabajo" ng-model="item.direccionTrabajo" style="" > </textarea>
            </div>
    
              <div class="row">
              <div class="form-group col-md-12" ng-hide="!item.especialidad && !item.editing">
                  <div class="col-sm-12" ng-show="item.editing">
                    <i class=" icon-pointer"></i> Municipio
                    <ui-select ng-model="item.municipio" theme="bootstrap" ng-show="item.editing">
                      <ui-select-match placeholder="Seleccione...">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices group-by="'name'" repeat="item.name as item in municipios | filter: $select.search">
                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
              </div> 
            
            </div> 



            
          </accordion-group>          
  

           <accordion-group heading="Datos de ingreso"  is-disabled="status.isFirstDisabled">
            <p>
            <div ng-show="!item.editing">
              
              <div class="col-sm-6"> 
                <b>Contraseña:</b> {{item.password}}
              </div>
            </div>
          
            <div ng-show="item.editing" class="col-sm-6">
            Contraseña
            <input type="text" class="form-control input-sm"   placeholder="Contraseña" ng-model="item.password" style="" >
            </div>
            </p>
          </accordion-group>          
   
        </accordion>
       
      </div>
      <!-- / accordion -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->
</div>

<!-- /hbox layout
