<div class="modal-header">
    <h3 class="modal-title">Agregar actividad</h3>
</div>
<div class="modal-body">
    
        <div class="form-group">
            <div class="col-md-18">
                <input placeholder="Titulo" type="text" class="form-control" 
               ng-model="item.title">
                
                <textarea rows="3" class="form-control input-sm"   placeholder="Descripcion" ng-model="item.descripcion" style="" > </textarea>

                <div class="col-xs-8">
                    <p>Fecha.</p>
                      <p class="input-group" ng-controller="DatepickerDemoCtrl">
                      <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="item.start" is-open="opened"  datepicker-options="dateOptions" ng-required="true"  close-text="Ok"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>        
                <div class="radio">
              <label class="i-checks">
                <input type="radio" name="a" value="privada" ng-click="setActividad1()">
                <i></i>
                Privada
              </label>
            </div>
            <div class="radio">
              <label class="i-checks">
                <input type="radio" name="a" value="publica"  ng-click="setActividad2()">
                <i></i>
                Publica
              </label>
            </div>

              <input placeholder="lugar" type="text" class="form-control" 
               ng-model="item.location">

             
           </div> 

              
        </div>

</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-primary" ng-click="okActividad(item)">OK</button>
</div>